<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>addition of an element</title>
</head>
<body>
<div th:insert="/fragments/navbar.html"></div>
<form th:action="@{'/add-element'}" method="post">
    <div class="row mt-2 justify-content-center">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>element id</label>
                    </div>
                    <div>
                        <input type="number" class="form-control" name="element_id">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>name</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>group</label>
                    </div>
                    <div>
                        <input class="form-control" rows="3" name="group"></input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>period</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="period">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>icon</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="icon">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>formula</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="formula">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label>valency</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="valency">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <button class="btn btn-success btn-sm">add element</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>